---
layout: default
title: {{ site.name }}
---

<section style="padding: 40px 0 0 0;">
  <div class="content ta-center">
    <img src="{{ site.baseurl }}/assets/images/logo-square.svg" width="140" class="logo" />
    <h1>Optimize Your SaaS.</h1>
    <p class="c-grey500 fw-light lh-small tt-uppercase mb-0" style="font-size: 25px; letter-spacing: 0.4rem;">
      Product and
      Marketing Services for Cloud Apps</p>
  </div>
</section>

<section style="padding: 40px 0 0 0;">
  <div class="parallax"
    style="background: white url('{{ site.baseurl }}/assets/images/squircles-blue.svg') no-repeat center 70px;">
  </div>

  <div class="content ta-center">
    <p class="mb-80">
      <span class="bg-white h-iblock" style="border-radius: 35px; padding: 5px">
        <a href="#" class="button rounded orange" style="padding: 0 100px">Contact Us</a>
      </span>
    </p>
    <div row class="resp-flex-row justify-sb mb-50">
      {% include icon-block.html
      icon="webinar"
      link="#digital"
      title="Digital Marketing"
      subtitle="SEO, SEM and SEA" %}

      {% include icon-block.html
      icon="notes"
      link="#content"
      title="Content Marketing"
      subtitle="Blogs & Microsites" %}

      {% include icon-block.html
      icon="globe"
      link="#content"
      title="Translation Services"
      subtitle="English, German, French" %}

      {% include icon-block.html
      icon="rocket"
      link="#product"
      title="Product Strategy"
      subtitle="with PLG and OKR" %}
    </div>
  </div>

  <div class="oval top grey900"></div>
</section>


<section class="bg-grey900" style="padding: 40px 0;">
  <div class="content">
    <div class="slide-wrapper fx-animate">
      <div class="slide on-left">
        <a name="digital"></a>
        <h2 class="c-white mb-40"><span class="c-grey500">Supercharge your </span>Digital Marketing</h2>
        <p class="intro c-white">
          Our multifunctional team of online marketing specialists offers top advertising and search engine
          marketing services for local and global SaaS apps.
        </p>
        <div class="c-white">
          {% include icon-listitem.html
          icon="search"
          text="Improve your search engine visibility and organic reach with SEO and SEM" %}
          {% include icon-listitem.html
          icon="statistics"
          text="Optimize ad spending and ROAS with targeted social media campaigns" %}
          {% include icon-listitem.html
          icon="iphone"
          text="Attract and convert mobile users through App Store Optimization (ASO)" %}
        </div>

      </div>

      <div class="slide image on-right">
        <img src="{{ site.baseurl }}/assets/images/macbook.png" width="480" height="491" class="hero" />
      </div>

    </div>
  </div>
</section>

<section style="background-color: #c8c6af;">
  <div class="oval bottom grey900" style="position: absolute; top: 0;">
  </div>
  <div column class="align-items-center">
    <img src="{{ site.baseurl }}/assets/images/writer.jpg" width="480" height="408" class="hero" />
  </div>
  <div class="oval top" style="position: absolute; bottom: 0;">
  </div>
</section>

<section class="bg-white" style="padding: 40px 0;">
  <div class="content">
    <div class="slide-wrapper fx-animate">
      <div class=" slide image on-left">
        <img src="{{ site.baseurl }}/assets/images/imac.png" class="hero" width="800" height="600" />
      </div>
      <div class="slide on-right">
        <a name="content"></a>
        <h2 class="mb-40"><span class="c-grey500">Lead your industry with </span>Content Marketing</h2>
        <p class="intro">
          Establish yourself as knowledge leader in your target markets and generate inbound leads using our
          scalable content marketing approach.
        </p>
        {% include icon-listitem.html
        icon="draw"
        text="Build audiences through well-researched and edgy opinion articles on your topics " %}
        {% include icon-listitem.html
        icon="comment"
        text="Lead the discussion on social media and popular blogging sites" %}
        {% include icon-listitem.html
        icon="globe"
        text="Quality native speaker translation of content and in-app copy in major languages" %}
      </div>
    </div>
</section>

<section style="background-color: #DEE1DF;">
  <div class="oval bottom" style="position: absolute; top: 0;">
  </div>
  <div column class="align-items-center">
    <img src="{{ site.baseurl }}/assets/images/couple.jpg" style="max-width: 1100px; width: 100%" />
  </div>
  <div class="oval top white" style="position: absolute; bottom: 0;">
  </div>
</section>

<section style="padding: 40px 0;">
  <div class="content">
    <div class="slide-wrapper fx-animate">
      <div class="slide on-left">
        <a name="product"></a>
        <h2 class="mb-40"><span class="c-grey500">Focus on growth in </span>Product Strategy</h2>
        <p class="intro">
          Maximize your team’s efficiency with our unique combination of product-led growth strategies with a goal-oriented quarterly cadence.
        </p>
        {% include icon-listitem.html
        icon="draw"
        text="Product-led Growth (PLG) puts your app first and builds customer loyalty virally" %}
        {% include icon-listitem.html
        icon="comment"
        text="Objectives and Key Results (OKRs) align growing organizations towards common goals" %}
        {% include icon-listitem.html
        icon="globe"
        text="Idea Management accelerates innovation and puts you ahead of your competitors" %}
      </div>
      <div class=" slide image on-right">
        <img src="{{ site.baseurl }}/assets/images/strategy.jpg" class="hero" width="480" height="600" />
      </div>
    </div>
</section>

<section style="background-color: #c9d8ec;">
  <div class="oval bottom white" style="position: absolute; top: 0;">
  </div>
  <div column class="align-items-center">
    <img src="{{ site.baseurl }}/assets/images/woman.jpg" style="max-width: 1000px; width: 100%" />
  </div>
  <div class="oval top grey700" style="position: absolute; bottom: 0;">
  </div>
</section>


<section class="bg-grey700" style="padding: 40px 0;">
  <div class="content">
    <h2 class="c-white mb-40">Contact Us</h2>
    <p class="intro c-grey500 mb-40" style="max-width: 600px;">
      We try to be as reachable as possible. Please use any of the contact channels below to get in touch with us, or
      follow our updates and news alerts online.
    </p>
    <div class="h-flex resp-flex-row justify-sb">
      {% include contact-box.html
      icon="company"
      icon_color="purple"
      title="Corporate Address"
      text="Phoenix Peak GmbH<br />Mariahilferstrasse 97<br />1060 Vienna<br />Austria"
      link="https://goo.gl/maps/5oaGicTbmr1dyNAQ8"
      link_caption="Find Us" %}

      {% include contact-box.html
      icon="people"
      icon_color="blue"
      title="phoenix<strong>peak</strong> Consulting"
      text="For inquiries about our marketing and product consulting services.<br /><br />"
      link="#digital"
      link_caption="Contact Us" %}

      {% include contact-box.html
      icon="rocket"
      icon_color="turquoise"
      title="phoenix<strong>peak</strong> Ventures"
      text="For inquiries regarding our venture and investment activities.<br /><br />"
      link="#digital"
      link_caption="Contact Us" %}
    </div>

  </div>
</section>