---
layout: default
title: {{ site.name }}
---

<section style="padding: 60px 0 0 0;">
    <div class="content ta-center">
        <img src="{{ site.baseurl }}/assets/images/logo-square.svg" width="120" class="mb-20" />
        <h1>Optimize Your SaaS.</h1>
        <p class="c-grey500 fw-light tt-uppercase" style="font-size: 25px; letter-spacing: 0.4rem;">Product and
            Marketing Services for Cloud Apps</p>
    </div>
</section>

<section
    style="padding: 40px 0; background: white url('{{ site.baseurl }}/assets/images/squircles-blue.svg') no-repeat center -80px;" />
<div class="content ta-center">
    <p class="mb-80">
        <span class="bg-white h-iblock" style="border-radius: 35px; padding: 5px">
            <a href="#" class="button rounded orange" style="padding: 0 100px">Contact Us</a>
        </span>
    </p>
    <div row class="justify-sb">
        {% include image-block.html 
            title="Digital Marketing"
            subtitle="SEO, SEM and SEA" %}

        {% include image-block.html 
                title="Digital Marketing"
                subtitle="SEO, SEM and SEA" %}

        {% include image-block.html 
                    title="Digital Marketing"
                    subtitle="SEO, SEM and SEA" %}

        {% include image-block.html 
                        title="Digital Marketing"
                        subtitle="SEO, SEM and SEA" %}


    </div>
    <br />
    <br />
    <br />
</div>
</section>

<section class="bg-grey900" style="padding: 60px 0;">
    <div class="content">
        <span class="fs-xl c-grey500">Supercharge your</span><br />
        <h1 class="c-white">Digital Marketing</h1>
    </div>
</section>