<footer>
  <section class="bg-grey900" style="padding: 60px 0;">
    <div class="content">
      <div column class="align-items-center">

        <img src="{{ site.baseurl }}/assets/images/logo-inverted.svg" width="110" height="44" class="mb-15" />
        <div class="c-white mb-15">&copy; 2021 Phoenix Peak GmbH</div>
        <div row>
          <a href="#" class="c-grey500">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" class="c-grey500">Imprint</a>
        </div>
      </div>
    </div>
  </section>
</footer>