/* Font Colors */

.c-white {
  color: white;
}

.c-grey900 {
  color: $grey900;
}

.c-grey700 {
  color: $grey700;
}

.c-grey500 {
  color: $grey500;
}

.c-grey300 {
  color: $grey300;
}

.c-grey200 {
  color: $grey200;
}

.c-grey100 {
  color: $grey100;
}

.c-blue {
  color: $blue;
}

.c-red {
  color: $red;
}

.c-green {
  color: $green;
}

.c-orange {
  color: $orange;
}

.c-turquoise {
  color: $turquoise;
}

.c-purple {
  color: $purple;
}

/* Background Colors */

.bg-white {
  background-color: white;
}

.bg-grey900 {
  background-color: $grey900;
}

.bg-grey700 {
  background-color: $grey700;
}

.bg-grey500 {
  background-color: $grey500;
}

.bg-grey300 {
  background-color: $grey300;
}

.bg-grey200 {
  background-color: $grey200;
}

.bg-grey100 {
  background-color: $grey100;
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-turquoise {
  background-color: $turquoise;
}

.bg-purple {
  background-color: $purple;
}

/* Font size */

.fs-s {
  font-size: $fs-small;
}

.fs-m {
  font-size: $fs-medium;
}

.fs-l {
  font-size: $fs-large;
}

.fs-xl {
  font-size: $fs-xlarge;
}

.fs-xxl {
  font-size: $fs-xxlarge;
}

/* Font weight */

.fw-bold {
  font-weight: $fw-bold;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-light {
  font-weight: $fw-light;
}

/* Line height */

.lh-small {
  line-height: $lh-small;
}

.lh-medium {
  line-height: $lh-medium;
}

.lh-large {
  line-height: $lh-large;
}

/* Margins */

/* top */

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

/* bottom */

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* left */

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

/* right */

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}


/* Text Aligns */

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.va-middle {
  vertical-align: middle;
}

/* Text Helpers */

.td-none {
  text-decoration: none;
}

.td-underline {
  text-decoration: underline;
}

.tt-uppercase {
  text-transform: uppercase;
}

.ws-nowrap {
  white-space: nowrap;
}

/* Border Colors */

.bc-grey500 {
  border-color: $grey500;
}

.bc-grey300 {
  border-color: $grey300;
}

.bc-grey200 {
  border-color: $grey200;
}

/* Border Radii */

.rad-small {
  border-radius: $br-small;
}

.rad-medium {
  border-radius: $br-medium;
}

.rad-large {
  border-radius: $br-large;
}

.rad-100 {
  border-radius: 100%;
}

/* Box Shadows */

.bs-small {
  box-shadow: $bs-small;
}

.bs-medium {
  box-shadow: $bs-medium;
}

.bs-large {
  box-shadow: $bs-large;
}

.bs-blue {
  box-shadow: $bs-blue;
}

/* Display */

.h-block {
  display: block;
}

.h-iblock {
  display: inline-block;
}

.h-hidden {
  display: none;
}

@include mobile-only {

  .h-hidden-phone {
    display: none;
  }

}

/* Effects */

.h-hover-raise:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}