---
---

@import "globals";
@import "responsive";
@import "normalize";
@import "flexbox";
@import "kr-mini";
@import "base";
@import "button";

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
}

section {
  position: relative;

  .content {
    max-width: $page-width;
    padding: 0 30px;
    margin: 0 auto;
  }
}

h1 {
  font-size: $fs-xxlarge;
  line-height: $lh-small;
  margin-bottom: 10px;
}

h2 {
  font-size: 75px;
  line-height: $lh-small;

  span {
    display: block;
    font-size: $fs-xlarge;
    line-height: $lh-small;
  }
}

p {
  font-size: $fs-medium;

  &.intro {
    font-size: $fs-large;
    font-weight: $fw-medium;
    line-height: $lh-large;
  }
}

.logo {
  width: 140px;
  margin: 40px 0;
}

/* scroll effect */

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0 0;
  transform: translateZ(-0.5px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  min-height: 800px;
}

.oval {
  width: 100%;
  height: 100px; 
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3600' height='1000' viewBox='0 0 3600 1000'%3E%3Cellipse cx='1800' cy='500' fill='%23fff' fill-rule='evenodd' rx='1800' ry='500'/%3E%3C/svg%3E%0A") no-repeat center top;

  &.bottom {
    background-position: center bottom;
  }

  &.grey900 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3600' height='1000' viewBox='0 0 3600 1000'%3E%3Cellipse cx='1800' cy='500' fill='%23333C40' fill-rule='evenodd' rx='1800' ry='500'/%3E%3C/svg%3E%0A");
  }

  &.grey700 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3600' height='1000' viewBox='0 0 3600 1000'%3E%3Cellipse cx='1800' cy='500' fill='%233D474D' fill-rule='evenodd' rx='1800' ry='500'/%3E%3C/svg%3E%0A");
  }
}

/* link with arrow icon */

.icon-link {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17'%3E%3Cpath fill='%230AF' fill-rule='evenodd' d='M10.778723 1.291144l5.2809 5.658107c.669374.717186.669374 1.830136 0 2.547322l-5.2809 5.658107c-.527568.565251-1.413472.5958-1.978723.068232-.565262-.527578-.59584-1.41349-.0683-1.978786l2.647104-2.83656c.175843-.188428.16564-.483729-.022788-.659572a.466667.466667 0 00-.31841-.125486L1.8 9.622859c-.77317.00003-1.39997-.626724-1.4-1.399894v-.000053c0-.773207.626793-1.400024 1.4-1.400053l9.237577-.000351c.257733-.00001.466659-.208952.46665-.466685a.466666.466666 0 00-.125518-.318407L8.7318 3.201607c-.52757-.565219-.497048-1.451098.06817-1.978667L8.8 1.222912c.56525-.527567 1.451155-.497019 1.978723.068232z'/%3E%3C/svg%3E") no-repeat right center;
  padding-right: 28px;
}

/* split sliding sections */

.slide-wrapper {
  display: flex;
  align-items: center;

  .slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    position: relative;
    justify-content: center;

    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      margin-left: 40px;
    }

    &.image {
      height: 600px;
    }

    &.on-left * {
      right: 0;
    }

    &.on-right * {
      left: 0;
    }

    img.hero {
      position: absolute;
      max-height: 600px;
      width: auto;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

/* animations */

.fx-animate {

  &.blend {
    transition: opacity 1s cubic-bezier(.16, 1, .3, 1);
    opacity: 0;

    &.fx-done {
      opacity: 1;
    }
  }
}

@include tablet-landscape-and-up {

  /* slide animations */

  .slide-wrapper.fx-animate {
    .slide {
      transition: transform 1.2s cubic-bezier(.16, 1, .3, 1), opacity 1.2s cubic-bezier(.16, 1, .3, 1);
      opacity: 0;

      &.on-left {
        transform: translateX(-35%);
      }

      &.on-right {
        transform: translateX(35%);
      }
    }

    &.fx-done .slide {
      transform: translateX(0) !important;
      opacity: 1 !important;
    }
  }
}

@include tablet-landscape-and-below {

  /* responsive slides */

  .slide-wrapper {
    flex-direction: column;

    .slide {
      width: 100%;
      margin: 0 !important;
      align-items: center;

      h2, p {
        text-align: center;
      }

      &.image {
        height: auto;
        order: -1;
        padding-bottom: 40px;
      }

      img.hero {
        position: relative;
        max-height: none;
        width: 100%;
        height: auto;
        top: 0;
        transform: none;
      }
    }
  }
}

@include mobile-only {

  h1 {
    font-size: 50px;
    margin-bottom: 35px;
  }

  h2 {
    font-size: 50px;

    span {
      font-size: 35px;
      margin-bottom: 10px;
    }
  }

  .logo {
    width: 100px;
    margin: 30px 0;
  }

  .oval {
    height: 20px; 
  }
  

}
