---
---

@import "globals";
@import "responsive";
@import "normalize";
@import "flexbox";
@import "kr-mini";
@import "button";
@import "base";
@import "button";

section {
    .content {
        max-width: $page-width;
        padding: 0 20px;
        margin: 0 auto;    
    }
}

h1 {
    font-size: $fs-xxlarge;
    line-height: $lh-small;
}

h2 {
    font-size: $fs-xlarge;
    line-height: $lh-small;
}

p {
    font-size: $fs-medium;
}
  

@include mobile-only {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 30px;
    }
}