---
---

@import "globals";
@import "responsive";
@import "normalize";
@import "flexbox";
@import "kr-mini";
@import "button";
@import "base";
@import "button";

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

section {
    position: relative;

    .content {
        max-width: $page-width;
        padding: 0 20px;
        margin: 0 auto;    
    }
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    background: white url('/assets/images/squircles-blue.svg') no-repeat center 40px;
}

h1 {
    font-size: $fs-xxlarge;
    line-height: $lh-small;
    margin-bottom: 10px;
}

h2 {
    font-size: $fs-xlarge;
    line-height: $lh-small;
}

p {
    font-size: $fs-medium;
    text-transform: capitalize;
}
  
.logo {
    width: 140px; 
    margin: 40px 0;    
}

@include mobile-only {
    h1 {
        font-size: 50px;
        margin-bottom: 35px;
    }
    
    h2 {
        font-size: 30px;
    }

    .logo {
        width: 100px; 
        margin: 30px 0;    
    }
    
}
